<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random);">
  <div class="container">
    <h1>La Route De L'Art vous <strong>rapproche</strong> des personnes les plus <strong>creatives</strong> au Québec!</h1>
    <p>Découvrez de nouveaux lieux artsy, ou ajoutez le vôtre!</p>
    <div class="d-flex justify-content-center">
      <%= link_to 'Nouvelle Place', new_flat_path , class: 'btn btn-primary'%>
      </div>
  </div>
</div>
