<style>
body {
  background-image: url('https://source.unsplash.com/random');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>


<div class="container">
  <p></p><br>
  <p></p><br>
  <p></p><br>
  <p></p><br>
  <p></p><br>
  <p></p><br>
  <div class="d-flex justify-content-center">
    <h1>Êtes-vous prêts à emprunter un nouveau chemin artistique?</h1>
  </div>

  <div class="d-flex justify-content-center">
    <a href="flats" class="btn btn-primary">Entrez</a>
  </div>

</div>
